<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  
  <body class="p-3 m-0 border-0 bd-example">
    <ng-template ngFor let-item [ngForOf]="individualCustomer"  > 
            <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header"> {{ item.firstName }} {{ item.lastName }}</div>
                <div class="card-body">
                <h5 class="card-title"> </h5>
                <p class="card-text">{{item.nationalIdentity}}</p>
                </div>
            </div>
    </ng-template>
    <ng-template ngFor let-item2 [ngForOf]="corporateCustomer"  > 
            <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">{{ item2.companyName }}</div>
                <div class="card-body">
                  <h5 class="card-title"> </h5>
                  <p class="card-text">{{item2.taxNumber}}</p>
                </div>
              </div>
    </ng-template>


    <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Subscriptions</div>
            <ng-template ngFor let-item3 [ngForOf]="subscription"  > 
                <div class="card-body">
                    <h5 class="card-title">Service Id - {{ item3.serviceId }}</h5>
                    <p class="card-text">{{item3.dateStarted}}</p>
                </div>
            </ng-template>
          </div>
  </body>