<!-- <ul *ngIf="catalog">
    <ng-template ngFor let-item [ngForOf]="catalog"  >
      <li >{{item.id}} - {{ item.name }} : {{item.price}}</li>   
        <button class="btn btn-outline-info btn-sm" (click)="selectCatalog(item)">Add This Catalog</button>
    </ng-template>
  </ul>
   -->


  <div class="container px-4 py-5" id="custom-cards">
    <h1 class="pb-2 border-bottom">Select Catalog</h1>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <ng-template ngFor let-item [ngForOf]="catalog"  >
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ item.name }}</h3>
            <ul class="d-flex list-unstyled mt-auto">
              
              <li class="me-auto">
                <button class="btn btn-outline-info btn-sm" (click)="selectCatalog(item)">Add This Catalog</button>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>Price : {{item.price}}</small>
              </li>
            </ul>
          </div>
        </div>
      
      </div>
</ng-template>
</div>
</div>

<div class="container">
<button type="button" class="btn btn-success btn-lg" (click)="goNext()">Next</button>
</div>