<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  <title>Bootstrap Example</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="p-3 m-0 border-0 bd-example">

<ul class="list-group" *ngIf="services">
  <ng-template ngFor let-item [ngForOf]="services"  >
    <li class="list-group-item"><button
      (click)="changeFormFunc(item.id);"
      type="button"
      class="btn btn-outline-info btn-sm">Update</button>
    {{item.id}} - {{ item.name }} </li>
    <ng-container *ngIf="!changeForm;">
      <!-- <button (click)="changeFormFunc(item.id);">Update</button> -->
    </ng-container>
  </ng-template>
</ul>

<!--Reactive Form-->
<ng-container *ngIf="changeForm; else elseTitle">
  <h1>Form - Update - {{this.servicesIdToUpdate}}</h1>
</ng-container>

<ng-template #elseTitle>
  <h1>Form - Add</h1>
</ng-template>

<form [formGroup]="serviceAddForm" >
  <p>{{error}}</p>
  <input size="15" formControlName="name" type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username with two button addons">
</form>

<div class="input-group">
    <ng-container *ngIf="changeForm; else elseButton"> 
    <button (click)="update()" class="btn btn-outline-secondary" type="button">Update</button>
    <button (click)="changeFormFunc(0)" class="btn btn-outline-secondary" type="button">Cancel</button>
  </ng-container>
  
  <ng-template #elseButton>
    <button (click)="add()" class="btn btn-success btn-sm" type="button">Add</button>
  </ng-template>
</div>



<!-- ngModel From-->
<h1>Sil: {{serviceIdToDelete}}</h1>
<div>
  <input type="text" placeholder="id" [(ngModel)]="serviceIdToDelete">
  <button (click)="delete()" class="btn btn-danger btn-sm" type="button">Sil</button>

</div>

