<ng-container *ngIf="customerType == true">
<div class="card text-bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header"> {{ individualCustomer.firstName }} {{ individualCustomer.lastName }}</div>
    <div class="card-body">
    <h5 class="card-title"> </h5>
    <p class="card-text">{{individualCustomer.nationalIdentity}}</p>
    </div>
</div>
</ng-container>

<ng-container *ngIf="customerType == false">
    <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header"> {{ corporateCustomer.companyName }} {{ corporateCustomer.taxNumber }}</div>
        <div class="card-body">
        <h5 class="card-title"> </h5>
        <!-- <p class="card-text">{{individualCustomer.nationalIdentity}}</p> -->
        </div>
    </div>
    </ng-container>
